
.navbar {
  width: 100%;
  height: 200px;
  background-color: #474971;
  margin-bottom: 2rem;
  &__content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      height: 100px;
      width: 300px;
    }
  }
}
