<div class="modal">
  <div class="modal__content">
    <div class="modal__content__title">
      Pagamento para: <span> &nbsp;{{ name }}</span>
      <app-button (click)="closeModal()" class="modal__content__title--close" [buttonName]="'x'"></app-button>
    </div>

    <form class="modal__content__form" [formGroup]="transactionForm">
      <input type="text" placeholder="R$ 0,00" formControlName="valuePayment" />

      <select formControlName="card">
        <option value="" disabled selected>Selecione um cartão</option>
        <option selected [value]="card.card_number" *ngFor="let card of cards">
          Cartão com final {{ card.card_number.substr(-4) }}
        </option>
      </select>
    </form>
    <app-button
      class="modal__content__button"
      [buttonName]="'Pagar'"
      (click)="sendPayment()"
    ></app-button>
  </div>
</div>
