$background-color: #888bcf;
$button-color: #7c80be;
$title-color: #474971;

$white-color: #ffff;
$green-color: #cddc39;
$black-color: #000;
$gray-color: #ccc;

$card-color: linear-gradient(186.5deg, #3c3e64 0.83%, #1d1e2a 100%);
$card-color-hover: linear-gradient(186.5deg, #383a5c 0.83%, #0b0b11 100%);
